@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To JVR's' Game Review Site</h1>
    <p></a>.</p>
</div>
<style>
    .display-4 {
        color: azure;
        margin-top: 200px;
        background-color: black;
        width: 800px;
        font-weight: bold;
    }

    body {
        margin-bottom: 60px;
        background-image: url(https://wallpapercave.com/wp/CP6p7Nc.jpg);
    }
    footer{
        display:flex;
        flex-direction:row;
        text-align:left;
        background-color:aliceblue;
    }
</style>
